<ion-toolbar>
  <ion-buttons start>
    <button (click)="cancel()"><ion-icon name="close"></ion-icon></button>
  </ion-buttons>
  <ion-title>{{ produto.DESCRICAO }}</ion-title>
</ion-toolbar>

<ion-content padding class="modal-produto">
  <ion-grid>
    <ion-row>
      <ion-col> <h4> {{ produto.DESCRICAO }} </h4> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <h6> {{ produto.PRVENDA | currency:"BRL":true:1.2 }}</h6>
      </ion-col>
      <ion-col width-50>
        <button outline danger style="float: left;" (click)="removeQtd()">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
        <h6 style="float: left; padding: 0 10px;">{{ qtd }}</h6>
        <button outline favorite (click)="addQtd()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label stacked>Observações</ion-label>
            <ion-textarea rows="10" [(ngModel)]="observacoes"></ion-textarea>
          </ion-item>
        </ion-list>
        <button block favorite (click)="addProduto(produto)">Adicionar Produto</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
