.home {

}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    font-size: 1em;
    margin-top: 140%;
    padding: 5%;
    text-align:center;
    color: #FFF;

}

.disponivel{
  background-color: #69BB7B;
}

 .disponivel:active{
   background-color: #69BB7B;
 }

.aberta{
  background-color: #387ef5;
}

.aberta:active{
  background-color: #387ef5;
}

.fechamento{
  background-color: #ffc900;
}

.fechamento:active{
  background-color: #ffc900;
}

.center{
  text-align: center;
}

input[type=number] {
    -webkit-text-security: disc;
}
