<ion-navbar *navbar primary>
  <ion-title>
    Home
  </ion-title>
</ion-navbar>

<ion-content class="home" padding>
  <button class="square" [ngClass]="getFlagColor(item)" *ngFor="let item of mesas" (click)="presentActionSheet(item)">
      <div class="content">
          {{ item.nome }}
      </div>
  </button>

</ion-content>
