<ion-navbar *navbar>
  <ion-title>{{item.nome}} - Grupos</ion-title>
</ion-navbar>

<ion-content padding class="grupo">
  <ion-list>
    <ion-item (click)="loadProdutos(g.grupo)" *ngFor="let g of grupos">
      <ion-thumbnail item-left>
        <img src="img/not_found.jpg">
      </ion-thumbnail>
      <h2>{{g.nome_grupo}}</h2>
      <p>{{g.total}} PRODUTOS ENCONTRADOS</p>
    </ion-item>
  </ion-list>
</ion-content>
