<ion-navbar *navbar>
  <ion-title>{{mesa.nome}} - Adicionar Produtos</ion-title>
</ion-navbar>

<ion-content padding class="produto">
  <ion-list>
    <ion-item-sliding *ngFor="let p of produtosAlt">
      <ion-item (click)="addPushProduto(p)">
        <h2>{{ p.DESCRICAO }}</h2>
        <p>{{ p.PRVENDA | currency:"BRL":true:1.2 }}</p>
      </ion-item>
      <ion-item-options>
        <button primary (click)="addProduto(p)">
          <ion-icon name="add-circle"></ion-icon>
          Adicionar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
