<ion-navbar *navbar>
  <ion-title>{{item.nome}}</ion-title>
</ion-navbar>

<ion-content padding class="tabs">
  <ion-card>
    <ion-card-header>
      Pedido
    </ion-card-header>

    <ion-card-content *ngIf="orcamentoVazio != 0">
      <ion-grid>
        <ion-row *ngFor="let produto of produtosOrc">
          <ion-col width-67>
            <h4 (click)="visualizarObservacao(produto)">{{produto.QUANTIDADE}}x {{produto.DESCRICAO}}</h4>
          </ion-col>
          <ion-col width-33>
            <h4 style="float:left;">
              {{ produto.TOTALITEM | currency:"BRL":true:1.2 }} 
              <button small outline danger style="font-size: 10px; float: right; margin-top: -18px; margin-left: 60px;" (click)="excluirProduto(produto)" >
                <ion-icon name="trash"></ion-icon>
              </button>
            </h4>
          </ion-col>
        </ion-row>

        <ion-row class="margin-top10 borda1px">
          <ion-col width-50 class="margin-top10">
            <h4>Subtotal</h4>
          </ion-col>
          <ion-col width-50 class="margin-top10 text-right">
            <h4>{{ subTotal | currency:"BRL":true:1.2 }}</h4> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content *ngIf="orcamentoVazio == 0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h4> Sem produtos adicionados. </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <button fab fab-bottom fab-right danger (click)="add()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>
